@font-face {
    font-family: Berkshire Swash;

    src: url('http://fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin,latin-ext');
}

body
{
    background: #333;
}

#canvas-container
{
    width: 1260px;
    margin: 0 auto;
}

#canvas
{
    float: left;

    border: #999 3px solid;
}

#legend
{
    float: right;

    width: 140px;
}

h2,
h4,
p
{
    color: pink;
}

#controls
{
    display: block;

    padding: 5px;
}

button,
input[type='button']
{
    font-family: 'Berkshire Swash';
    font-size: 15px;

    height: 25px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;

    color: pink;
    border: none;
    background-color: #6d493b;
}

button:hover,
input:hover
{
    cursor: pointer;
}
