@font-face {
    font-family: fontsz;
    src: url('fonts/LMS_Lance_s_Letter_Blocks.ttf');
}
h1 {
    font-family: 'fontsz';
    font-size: 50px;
    color: black;
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

.hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {

    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    color:pink;
}




video.hubble{
    min-width: 100%;
    min-height: 100%;
    width: 1000px;
    height: 500px;
}
.colors-rotate-moving {   
   text-align: center; 
   width: 355px;
   height: 180px;   
   position: absolute;
   top: 0px;
   left: 11120px;
   -webkit-animation: Hypnoza 10s both; /* Chrome, Safari, Opera */
   animation: Hypnoza 5s both;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes Hypnoza {
    0% {
       
        left: -11000px;
        top: 480px;       
    }

    25% {      
        left: 58%;
        top: 480px;       
    }

    50% {    
        left: 58%;
        top: 480px;    
    }

    75% {    
        left: 170px;
        top: 480px;         
    }

    100% {    
        left: 455px;
        top: 480px;     
    }
}


/* Firefox */
@keyframes Hypnoza {
    from {
       
        left: -11000px;
        top: 480px;       
    }

    25% {      
        left: 58%;
        top: 480px;       
    }

    50% {    
        left: 58%;
        top: 480px;    
    }

    75% {    
        left: 170px;
        top: 480px;         
    }

    100% {    
        left: 455px;
        top: 480px;     
    }
}