* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Berkshire Swash;
    src: url('http://fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin,latin-ext');
}

body {
    background: #333;
}

#canvas-container {
    width: 1260px;
    margin: 0 auto;
}

#canvas {
    float: left;
    border: #999 3px solid;
}

#legend {
    float: right;
    width: 140px;
}

#controls-title,
h4,
p {
    color: pink;
}

h4 {
    font-family: 'Berkshire Swash';
}

#controls-title {
    margin-top: 10px;
}

aside > header {
    color: pink;
    font-family: 'Berkshire Swash';
    text-align: center;
    margin-bottom: 30px;
}

.controls-list {
    margin: 10px 0;
}

button,
input[type='button'] {
    font-family: 'Berkshire Swash';
    font-size: 15px;
    padding: 10px;
    color: pink;
    border: none;
    background-color: #6d493b;
}

button {
    margin-right: 5px;
}

button:hover,
input:hover {
    cursor: pointer;
}

div#music {
    font-family: 'Berkshire Swash';
    font-size: 15px;
    width: 62%;
    margin: 10px 0 10px 0;
    color: pink;
    border: none;
    background-color: #6d493b;
    padding: 10px;
}

label {
    float: left;
    padding-top: 5px;
}

input[type='checkbox'] {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}
